<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}我的钱包{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="row">
    {% block main %}{% endblock %}
    </div>
    <script src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
    {% block js %}{% endblock %}
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
